In [1]:
from functions_training_pipeline import Model
import functions_training_pipeline as f

In [2]:
rf = f.load_object('RF_test_2023_04_17')

In [3]:
rf.get_attributes()

model = <class 'sklearn.ensemble._forest.RandomForestRegressor'>
hyperparameters = [{'max_depth': 4, 'n_estimators': 10}, {'max_depth': 4, 'n_estimators': 20}, {'max_depth': 7, 'n_estimators': 10}, {'max_depth': 7, 'n_estimators': 20}]
name = RF_test_2023_04_17
date_tested = 2023-04-17
columns = ['x', 'y', 'mw_value', 'col', 'row']
dates = [numpy.datetime64('2017-08-01T00:00:00.000000000'), numpy.datetime64('2017-08-02T00:00:00.000000000'), numpy.datetime64('2017-08-03T00:00:00.000000000'), numpy.datetime64('2017-08-04T00:00:00.000000000'), numpy.datetime64('2017-08-05T00:00:00.000000000'), numpy.datetime64('2017-08-06T00:00:00.000000000')]
best_hyperparameter_list = [{'max_depth': 4, 'n_estimators': 20}, {'max_depth': 4, 'n_estimators': 20}, {'max_depth': 4, 'n_estimators': 10}, {'max_depth': 4, 'n_estimators': 10}, {'max_depth': 7, 'n_estimators': 20}]
feature_importance_list = [{'x': 0.1438303719158582, 'y': 0.3450341471584463, 'mw_value': 0.12571045277256684, 'col': 0.15500982147794903, 'row': 0.23041520667517953}, {'x': 0.10947090026490054, 'y': 0.44435147629792676, 'mw_value': 0.03971427012135552, 'col': 0.16822277080813128, 'row': 0.23824058250768596}, {'x': 0.13228393243520226, 'y': 0.30697316493340504, 'mw_value': 0.22437436383826162, 'col': 0.09012099218842788, 'row': 0.24624754660470327}, {'x': 0.1375660771889447, 'y': 0.31959211140850097, 'mw_value': 0.12047975857948143, 'col': 0.17956050256011982, 'row': 0.2428015502629531}, {'x': 0.1787747405874067, 'y': 0.21227748639479263, 'mw_value': 0.15167193949356642, 'col': 0.1691959156509823, 'row': 0.28807991787325204}]
rmse_train = 0.7049612330103472
rmse_std_train = 0.057279352613585036
rmse_test = 1.4690923640209113
rmse_std_test = 0.592755354690954
r2_train = 0.29022790040839924
r2_std_train = 0.03516719030513982
r2_test = -0.8458902315379401
r2_std_test = 1.095799553351939
final_hyperparameters = {'max_depth': 4, 'n_estimators': 20}
final_model = RandomForestRegressor(max_depth=4, n_estimators=20, random_state=0)
final_feature_importance = {'x': 0.14552883147615678, 'y': 0.3574474854559582, 'mw_value': 0.13542957870137695, 'col': 0.12915097284544372, 'row': 0.23244313152106436}

In [4]:
rf.best_hyperparameter_list

[{'max_depth': 4, 'n_estimators': 20},
 {'max_depth': 4, 'n_estimators': 20},
 {'max_depth': 4, 'n_estimators': 10},
 {'max_depth': 4, 'n_estimators': 10},
 {'max_depth': 7, 'n_estimators': 20}]

In [4]:
rf.get_results()

     Metric     Train      Test
0      RMSE  0.704961  1.469092
1  RMSE_std  0.057279  0.592755
2        R2  0.290228 -0.845890
3    R2_std  0.035167  1.095800

In [4]:
dt = f.load_object('DT_test')

In [5]:
dt.get_attributes()

model = <class 'sklearn.tree._classes.DecisionTreeRegressor'>
hyperparameters = [{'max_depth': 4, 'min_samples_leaf': 2}, {'max_depth': 4, 'min_samples_leaf': 5}, {'max_depth': 7, 'min_samples_leaf': 2}, {'max_depth': 7, 'min_samples_leaf': 5}]
name = DT_test
dates = [numpy.datetime64('2019-07-01T00:00:00.000000000'), numpy.datetime64('2019-07-02T00:00:00.000000000'), numpy.datetime64('2019-07-03T00:00:00.000000000'), numpy.datetime64('2019-07-04T00:00:00.000000000')]
best_hyperparameter_list = [{'max_depth': 4, 'min_samples_leaf': 2}, {'max_depth': 4, 'min_samples_leaf': 2}, {'max_depth': 4, 'min_samples_leaf': 2}, {'max_depth': 4, 'min_samples_leaf': 2}, {'max_depth': 4, 'min_samples_leaf': 2}]
feature_importance_list = [{'x': 0.16273379573715818, 'y': 0.2978891678455866, 'mw_value': 0.0, 'mean_3': 0.5393770364172551}, {'x': 0.5931008062031214, 'y': 0.13366970086237703, 'mw_value': 0.0, 'mean_3': 0.27322949293450155}, {'x': 0.1736382305940472, 'y': 0.34351470359039377, 'mw_value': 0.0, 'mean_3': 0.4828470658155591}, {'x': 0.10393829849802062, 'y': 0.35964336382465373, 'mw_value': 0.0, 'mean_3': 0.5364183376773256}, {'x': 0.2265251509760615, 'y': 0.11310560867438539, 'mw_value': 0.0, 'mean_3': 0.6603692403495532}]
rmse_train = 0.08377351092974303
rmse_std_train = 0.006761606378154333
rmse_test = 0.12710897393292236
rmse_std_test = 0.02729340318891201
r2_train = 0.4758714178676572
r2_std_train = 0.0494632614018242
r2_test = -0.09308838216911783
r2_std_test = 0.5775319405188869
final_hyperparameters = {'max_depth': 7, 'min_samples_leaf': 2}
final_model = DecisionTreeRegressor(max_depth=7, min_samples_leaf=2, random_state=0)
final_feature_importance = {'x': 0.32327769383058297, 'y': 0.2609044387329792, 'mw_value': 0.0, 'mean_3': 0.4158178674364378}

In [6]:
dt.get_results()

     Metric     Train      Test
0      RMSE  0.083774  0.127109
1  RMSE_std  0.006762  0.027293
2        R2  0.475871 -0.093088
3    R2_std  0.049463  0.577532

     Metric     Train      Test
0      RMSE  0.083774  0.127109
1  RMSE_std  0.006762  0.027293
2        R2  0.475871 -0.093088
3    R2_std  0.049463  0.577532

In [7]:
rf.get_results()

     Metric     Train      Test
0      RMSE  0.704961  1.469092
1  RMSE_std  0.057279  0.592755
2        R2  0.290228 -0.845890
3    R2_std  0.035167  1.095800

     Metric     Train      Test
0      RMSE  0.704961  1.469092
1  RMSE_std  0.057279  0.592755
2        R2  0.290228 -0.845890
3    R2_std  0.035167  1.095800

In [8]:
import pandas as pd

In [14]:
d = {'': rf.get_results().pop('Metric'), 'rf' : rf.get_results()[['Train', 'Test']], 'dt' : dt.get_results()[['Train', 'Test']]}
pd.concat(d.values(), axis=1, keys=d.keys())

     Metric     Train      Test
0      RMSE  0.704961  1.469092
1  RMSE_std  0.057279  0.592755
2        R2  0.290228 -0.845890
3    R2_std  0.035167  1.095800
     Metric     Train      Test
0      RMSE  0.704961  1.469092
1  RMSE_std  0.057279  0.592755
2        R2  0.290228 -0.845890
3    R2_std  0.035167  1.095800
     Metric     Train      Test
0      RMSE  0.083774  0.127109
1  RMSE_std  0.006762  0.027293
2        R2  0.475871 -0.093088
3    R2_std  0.049463  0.577532

                   rf                  dt
     Metric     Train      Test     Train      Test
0      RMSE  0.704961  1.469092  0.083774  0.127109
1  RMSE_std  0.057279  0.592755  0.006762  0.027293
2        R2  0.290228 -0.845890  0.475871 -0.093088
3    R2_std  0.035167  1.095800  0.049463  0.577532