In [ ]:
# name

In [ ]:
# purpose of script

In [4]:
# imports
import pandas as pd

In [5]:
# paths
df_path = r"../Data/combined/"

In [13]:
# data load 
#df = pd.read_csv(df_path + 'melt_2019-07-01.csv')
df = pd.read_parquet(df_path + 'melt_2019-07-01.parquet.gzip')

In [14]:
df

                x          y  mw_value  opt_value
0       -636500.0  -662500.0       0.0       -1.0
1       -635500.0  -662500.0       0.0       -1.0
2       -634500.0  -662500.0       0.0       -1.0
3       -633500.0  -662500.0       0.0       -1.0
4       -632500.0  -662500.0       0.0       -1.0
...           ...        ...       ...        ...
3893301  820500.0 -3324500.0      -1.0       -1.0
3893302  821500.0 -3324500.0      -1.0       -1.0
3893303  822500.0 -3324500.0      -1.0       -1.0
3893304  823500.0 -3324500.0      -1.0       -1.0
3893305  824500.0 -3324500.0      -1.0       -1.0

[3893306 rows x 4 columns]

In [ ]:
# add features:

Add features:

In [ ]:
# add column and row (to add neighbours)
df['col'] = df.groupby("x").ngroup() # xshape 2663 
df['row'] = df.groupby("y").ngroup(ascending=False) # yshape 1462

In [ ]:
# remove water:
df = df.loc[df['mw_value'] != -1]

In [ ]:
# add date:
df['date'] = '2019-07-01'
df["date"]= pd.to_datetime(df["date"])
# df['month'] = df["date"].dt.month

# need to suppress warning

In [ ]:
# add neighbours (3x3 val num from 1 to 9):
# based on row and col value??

df['val_1'] = 0

In [ ]:
# add neighbours (for mw, if -1 then nan?)
# add pooled
# add if coast column - if at least one na but not all

In [ ]:
# convert x and y to useful sections of geodata