# Feature angineering

**Purpose of script:**

Creating new features

In [5]:
# imports
import pandas as pd
import numpy as np

In [2]:
# paths
df_path = r"../Data/combined/"

In [3]:
# data load 
#df = pd.read_csv(df_path + 'melt_2019-07-01.csv')
df = pd.read_parquet(df_path + 'melt_2019-07-01.parquet.gzip')

In [4]:
df

                x          y  mw_value  opt_value
0       -636500.0  -662500.0       0.0       -1.0
1       -635500.0  -662500.0       0.0       -1.0
2       -634500.0  -662500.0       0.0       -1.0
3       -633500.0  -662500.0       0.0       -1.0
4       -632500.0  -662500.0       0.0       -1.0
...           ...        ...       ...        ...
3893301  820500.0 -3324500.0      -1.0       -1.0
3893302  821500.0 -3324500.0      -1.0       -1.0
3893303  822500.0 -3324500.0      -1.0       -1.0
3893304  823500.0 -3324500.0      -1.0       -1.0
3893305  824500.0 -3324500.0      -1.0       -1.0

[3893306 rows x 4 columns]

## Features:

Column and row number

In [ ]:
df['col'] = df.groupby("x").ngroup() # xshape 2663 
df['row'] = df.groupby("y").ngroup(ascending=False) # yshape 1462

Remove water pixels

In [ ]:
df = df.loc[df['mw_value'] != -1]
# need to suppress warning

Date

In [ ]:
df['date'] = '2019-07-01'
df["date"]= pd.to_datetime(df["date"])
# df['month'] = df["date"].dt.month

Neighbouring pixel values

In [ ]:
# add neighbours (3x3 val num from 1 to 9):
# based on row and col value??

In [ ]:
def get_neighbors(mat, a, b):
    neighbors = [mat[i][j] if (i > -1 and j > -1 and j < len(mat[0]) and i < len(mat)) else np.nan for i in range(a-1, a+2) for j in range(b-1, b+2) ]
    return neighbors

In [7]:
matrix=[[1,2,3,4],
        [5,6,7,8],
        [9,10,11,12]]

In [ ]:
get_neighbors(matrix, 1,0)

In [ ]:
# put values to df and then concat?

In [ ]:
# create 9 empty col 
# for each row assign 9 values at once

In [10]:
len(matrix)

3

In [ ]:
[(c2.index[i], c2.columns[j]) for i, j in matrix]

Aggregated/pooled values

Distance from margin/shore

In [ ]:
# add if coast column - if at least one na but not all

Geohash

In [ ]:
# convert x and y to useful sections of geodata