In [6]:
import pandas as pd
from tqdm import tqdm

In [44]:
def import_data(date_from:str, date_to:str, df_path:str, columns):
    """
    Imports data and merges into one dataframe.

    Args:
        date_from (format: 'yyyy-mm-dd'): Period starting date (included).

        date_to (format: 'yyyy-mm-dd'): Period end date (included).

        df_path: Path to folder with daily data files.

    Returns:
        pandas.DataFrame: Dataframe with all merged data.
    """

    date_range = pd.date_range(date_from, date_to) # both ends included
    date_range = [str(day.date()) for day in date_range]
    df_list = []

    for melt_date in tqdm(date_range):
        try: # bc some days are empty
            file_ = pd.read_parquet(df_path + 'melt_'+ melt_date + '_extended.parquet.gzip', index= False) 
            file_ = file_[columns]
            df_list.append(file_) # list of df
        except:
            continue
        
    df = pd.concat(df_list, axis=0) # concat af df to one
    del df_list
    return df

In [45]:
df_path = r'../../Data/combined/dataframe_extended/'
columns = ['x', 'y', 'sum_5']

data = import_data(date_from='2018-06-03', date_to='2018-06-04', df_path=df_path, columns = columns)

100%|██████████| 2/2 [00:00<00:00,  2.11it/s]

In [46]:
data

                x          y  sum_5
0       -636500.0  -662500.0    0.0
1       -635500.0  -662500.0    0.0
2       -634500.0  -662500.0    0.0
3       -633500.0  -662500.0    0.0
4       -632500.0  -662500.0    0.0
...           ...        ...    ...
2278720   58500.0 -3324500.0    0.0
2278721   59500.0 -3324500.0    0.0
2278722   60500.0 -3324500.0    0.0
2278723   61500.0 -3324500.0    0.0
2278724   62500.0 -3324500.0    0.0

[4557450 rows x 3 columns]